<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>
            <?php echo $title?>
        </title>
        <link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
    </head>
    <header>
        <nav class="navbar navbar-expand-sm bg-light">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="?controller=Login&action=pageLogin">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?controller=Register&action=pageRegister">Đăng ký</a>
                </li>
            </ul>
        </nav>
    </header>

    <body>